body{
  margin: 0;
}

.app-container {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #343a40;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 50px;
}

.search-form {
  display: flex;
  gap: 10px;
}

.search-form input {
  padding: 5px;
  font-size: 16px;
}

.search-form button {
  padding: 5px 10px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
  padding: 0 20px;
}

.pokemon-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  max-width: 157px;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pokemon-detail {
  padding: 20px;
  text-align: center;
}

.pokemon-detail img {
  width: 200px;
  height: 200px;
}

.pokemon-detail ul {
  list-style-type: none;
  padding: 0;
}

.pokemon-detail li {
  margin: 5px 0;
}

.back-button {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.back-button:hover {
  text-decoration: underline;
}